# Battery Life Extender
# JayminSuthar @ xda-developers

# Copyright (c) 2018 Jaymin Suthar. All rights reserved.

# This file is a part of "Battery Life Extender (blex)".

# blex is released under the terms of GNU GPL v3 as published
# by the Free Software Foundation, and you hereby are allowed
# to use, modify or redistribute it, either pieces of it or
# entirely under v3 or any later version of the GPL.

# blex is developed in a hope of being useful, but neither
# warranty nor support are provided with it, not even fitness
# for the particular purpose. See the GPLv3 for details.

# A copy of GPLv3 (COPYING) is placed in the root folder of
# blex, see <https://www.gnu.org/licenses/> for more.

blex.cfg                                      text    eol=lf
COPYING                                       text    eol=lf
META-INF/com/google/android/updater-script    text    eol=lf
META-INF/com/google/android/update-binary     text    eol=lf
module.prop                                   text    eol=lf
post-fs-data.sh                               text    eol=lf
README.md                                     text    eol=lf
system/xbin/blex                              text    eol=lf

bin/busybox                                   binary
